<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.listeners.TestListeners"/> 
</listeners>
  <test thread-count="5" name="ChromeTest">
  <parameter name ="browserName" value="Chrome"></parameter>
  <classes>
 <class name="com.test.LoginPageTest"/>
<!-- <class name="com.test.HomePageTest"/> -->
<!-- <class name="com.test.ProductPageTest"/> -->
<!--   <class name="com.test.StoresPageTest"/>   --> 
 <!-- <class name="com.test.PeopleWaiterPageTest"/> -->
 <!-- <class name="com.test.PeopleCustomerPageTest"/> -->
 <!-- <class name="com.test.PeopleSupplierPageTest"/> -->
 
  
  </classes>
  </test> <!-- Test -->
  </suite>
 
